html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7f9fb;
  display: flex;
  flex-direction: column;
}

header, main {
  font-family: 'Roboto', sans-serif;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  flex-shrink: 0;
  background-color: #24A1DE;
  color: #ffffff;
  padding: 10px 20px;
  text-align: left;
}

.welcome-text {
  font-size: 20px;
  color: #333333;
  text-align: center;
}

.center-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .welcome-text {
      font-size: 16px;
      padding: 0 10px;
  }

  .center-button {
      padding: 8px 16px;
  }
}
